In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
import matplotlib.pyplot as plt

In [5]:
s = pd.Series([1,3,5,np.nan,6,8])

In [6]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [8]:
dates = pd.date_range('20130101', periods=6)

In [9]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [10]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [11]:
df

                   A         B         C         D
2013-01-01  0.207799  2.036051  1.194545  0.528560
2013-01-02  1.030252 -0.055208  1.510976  0.528085
2013-01-03 -0.420894 -0.992526  0.675040 -0.033152
2013-01-04 -0.098158  0.209285 -1.600536 -0.716529
2013-01-05  0.446801  1.710031 -1.307015 -1.036288
2013-01-06 -0.782278  0.248703 -0.437421 -0.201409

In [12]:
df2 = pd.DataFrame({ 'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo' })

In [25]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [13]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [15]:
df.head()

                   A         B         C         D
2013-01-01  0.207799  2.036051  1.194545  0.528560
2013-01-02  1.030252 -0.055208  1.510976  0.528085
2013-01-03 -0.420894 -0.992526  0.675040 -0.033152
2013-01-04 -0.098158  0.209285 -1.600536 -0.716529
2013-01-05  0.446801  1.710031 -1.307015 -1.036288

In [18]:
df.tail(3)

                   A         B         C         D
2013-01-04 -0.098158  0.209285 -1.600536 -0.716529
2013-01-05  0.446801  1.710031 -1.307015 -1.036288
2013-01-06 -0.782278  0.248703 -0.437421 -0.201409